beinet:
    # 添加配置，演示http请求读取配置
    jsonUrl: www.kuaidi100.com
    userAgent: beine:#t 1.0
    ab#c: "de\"f"#dfd

Site:
    Name: asdfasdfasdf

spring:
    application:
        name: "configclient"         # 程序name，建议配置，方便统一的服务管理
        memo: '"\"afj&%\n=''demo' # 用单引号括起时，\不是转义符，\n是\和n 两个字符，单引号用''(2个单引号)表示
        mem2: "aaa\"d\ndemo"      # 用双引号括起时，\是转义符，\n是1个字符（换行）

    security:
      user:
        name: ybl
        password: 1234321

    # mysql连接信息配置
    datasource:
        url: jdbc:mysql://10.2.5.2:3306/firstdemodb?characterEncoding=utf8&serverTimezone=UTC&useSSL=false
        username: beinet
        password: beinet123
        driver-class-name: com.mysql.cj.jdbc.Driver
        # 使用Druid数据库连接池
        type: com.alibaba.druid.pool.DruidDataSource
        druid:
            # 初始化时建立物理连接的个数。初始化发生在显示调用init方法，或者第一次getConnection时
            initial-size: 8
            # 最小连接池数量
            min-idle: 5
            # 最大连接池数量
            max-active: 10
            query-timeout: 6000
            transaction-query-timeout: 6000
            remove-abandoned-timeout: 1800

    # jpa相关参数配置
    jpa:
        show-sql: true
        hibernate:
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
            ddl-auto: validate  # update:自动建表或更新字段 validate:表结构不一致时报错
        open-in-view: false

    data:
        mongodb:
            #            uri: mongodb://10.2.0.32:27017/test
            host: 10.2.0.32
            port: 27017
            username: beinet
            password: beinet123
            database: firstdemo

    redis:
#        url: redis://Ybl...123@10.2.0.32:6378
        host: 10.2.0.32
        port: 6379
        password: beinet123
        database: 1            # 数据库索引
        ssl: false
        timeout: 1000          # 连接超时时间（毫秒）
        jedis:
            pool:
                max-active: 8  # 连接池最大连接数（使用负值表示没有限制）
                max-wait: -1   # 连接池最大阻塞等待时间, 单位毫秒（使用负值表示没有限制）
                max-idle: 8    # 连接池中的最大空闲连接
                min-idle: 0    # 连接池中的最小空闲连接


    rabbitmq:
        host: 10.2.0.32
        port: 5672
        username: beinet
        password: beinet123
#        publisher-confirms: true # 代码里去设置true了
#        virtual-host:
    kafka:
        bootstrap-servers: 10.2.0.32:9092
        template:
            default-topic: mytesttopic
        producer:
            acks: all     # 服务器确认配置，0表示生产者无须确认，1表示等待leader写入本地log，all表示所有备份都要写入
            retries: 0    # 生产者发送失败是否重试，0为否
            batch-size: 16384        # 生产者批量发送消息的字节数上限
            buffer-memory: 33554432  # 生产者缓存数据的内存大小
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.apache.kafka.common.serialization.StringSerializer
        consumer:
#            group-id: test123
            enable-auto-commit: false  # 未设置group-id时，此参数不能为true
            auto-commit-interval: 1000
            auto-offset-reset: earliest
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

server:
    port: 8081  # 指定内置的Tomcat的默认启动端口
    # 其它server配置 参考 https://www.cnblogs.com/javastack/p/9153952.html

    #登录Session超时过期时间，单位秒，超过10秒就要重新登录
    servlet:
        session:
            timeout: 10

logging:
    level:
        # 这个配置，指示com.beinet.firstpg.httpDemo.FeignDemo 类要输出详细http日志
        com.beinet.firstpg.httpDemo.FeignDemo: debug
feign:
    client:
        config:
            default:                  # 服务名,就是@FeignClient(name="httpTest"，配置为 default 表示全部
                connectTimeout: 2000  # 连接超时时间，毫秒
                readTimeout: 2000     # 读数据超时时间，毫秒
                loggerLevel: full     # 输出日志的级别

